
@{
    ViewBag.Title = "blogs";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<h2 style="text-align: center;">Chăm sóc boss hiệu quả</h2>
<div class="timKiem_page">
    <div class="timKiem_page_left">
        <div class="catalog_timKiem">
            <h6>Trang page hỗ trợ:</h6>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0" nonce="wdEoVdts">
            </script>
            <div class="fb-page" data-href="https://www.facebook.com/infotechntu" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/infotechntu" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/infotechntu"></a>
                </blockquote>
            </div>
        </div>

    </div>
    <div class="timKiem_page_right" style="width: 80%;">
        <div class="product_list">
            <div class="grid">
                <div class="row">
                    <div class="product_item product_item_timkiem">
                        <div class="article-img">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">
                                <div class="blog-post-audio">
                                    <iframe width="340" height="320" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                            </a>
                        </div>
                        <div class="article-title">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">Nhạc thư giãn cho thú cưng</a>
                        </div>
                        <div class="article-info">
                            <div class="article-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> 04/07/22
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Phương Nam
                            </div>
                            <div class="article-comment">
                                <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/38AFNvoXP-U"></span>
                            </div>
                        </div>
                        <div class="article-desc">
                        </div>
                    </div>
                    <div class="product_item product_item_timkiem">
                        <div class="article-img">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">
                                <div class="blog-post-audio">
                                    <iframe width="340" height="320" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                            </a>
                        </div>
                        <div class="article-title">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">Nhạc thư giãn cho thú cưng</a>
                        </div>
                        <div class="article-info">
                            <div class="article-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> 04/07/22
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Phương Nam
                            </div>
                            <div class="article-comment">
                                <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/38AFNvoXP-U"></span>
                            </div>
                        </div>
                        <div class="article-desc">
                        </div>
                    </div>
                    <div class="product_item product_item_timkiem">
                        <div class="article-img">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">
                                <div class="blog-post-audio">
                                    <iframe width="340" height="320" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                            </a>
                        </div>
                        <div class="article-title">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">Nhạc thư giãn cho thú cưng</a>
                        </div>
                        <div class="article-info">
                            <div class="article-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> 04/07/22
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Phương Nam
                            </div>
                            <div class="article-comment">
                                <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/38AFNvoXP-U"></span>
                            </div>
                        </div>
                        <div class="article-desc">
                        </div>
                    </div>
                    <div class="product_item product_item_timkiem">
                        <div class="article-img">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">
                                <div class="blog-post-audio">
                                    <iframe width="340" height="320" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                            </a>
                        </div>
                        <div class="article-title">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">Nhạc thư giãn cho thú cưng</a>
                        </div>
                        <div class="article-info">
                            <div class="article-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> 04/07/22
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Phương Nam
                            </div>
                            <div class="article-comment">
                                <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/38AFNvoXP-U"></span>
                            </div>
                        </div>
                        <div class="article-desc">
                        </div>
                    </div>
                    <div class="product_item product_item_timkiem">
                        <div class="article-img">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">
                                <div class="blog-post-audio">
                                    <iframe width="340" height="320" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                            </a>
                        </div>
                        <div class="article-title">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">Nhạc thư giãn cho thú cưng</a>
                        </div>
                        <div class="article-info">
                            <div class="article-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> 04/07/22
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Phương Nam
                            </div>
                            <div class="article-comment">
                                <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/38AFNvoXP-U"></span>
                            </div>
                        </div>
                        <div class="article-desc">
                        </div>
                    </div>
                    <div class="product_item product_item_timkiem">
                        <div class="article-img">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">
                                <div class="blog-post-audio">
                                    <iframe width="340" height="320" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                            </a>
                        </div>
                        <div class="article-title">
                            <a href="https://www.youtube.com/embed/38AFNvoXP-U">Nhạc thư giãn cho thú cưng</a>
                        </div>
                        <div class="article-info">
                            <div class="article-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i> 04/07/22
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Phương Nam
                            </div>
                            <div class="article-comment">
                                <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/38AFNvoXP-U"></span>
                            </div>
                        </div>
                        <div class="article-desc">
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
