
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<div class="liehHe">
    <div class="liehHe_left">
        <h3 class="gioithieu_nhom_11">THÔNG TIN THÀNH VIÊN NHÓM</h3>
        <ul class="gioithieu_nhom">
            <h5>Thành viên nhóm 12:</h5>
            <li>
                Phạm Phương Nam
            </li>
            <li>
                Nguyễn Văn Tín
            </li>
        </ul>
        <p class="gioithieu_nhom_p"> <span>Địa chỉ: </span>2 Đ. Nguyễn Đình Chiểu, Vĩnh Thọ, Nha Trang, Khánh Hòa 650000</p>
        <ul class="gioithieu_nhom">
            <h5>Thông tin liên hệ:</h5>
            <li>
                <span>Nhóm trưởng: </span> Phạm Phương Nam
            </li>
            <li>
                <span>Số điện thoại: </span> 0867566932
            </li>
            <li>
                <span>Email: </span> nam.pp.62cntt@ntu.edu.vn
            </li>
        </ul>
        <ul class="gioithieu_nhom">
            <h5>Thông tin mạng xã hội:</h5>
            <li>
                <span>Facebook: </span><a style="color: black" target="_blank" href="https://sanphamcongnghe.store/">https://www.facebook.com/nam.phamphuong.792/</a>
            </li>
            <li>
                <span>Youtube: </span><a style="color: black" target="_blank" href="https://www.youtube.com/watch?v=rvCxmwXk4PI&list=RDrvCxmwXk4PI&start_radio=1">https://www.youtube.com/channel/UCq3vEyjTLa69K0dVHVStWqQ</a>
            </li>

        </ul>
    </div>
    <div class="liehHe_right">
        <img src="~/assest/img/banner/Hinh-anh-cho-ngau.jpg" alt="" style="width: 600px; height: 700px;">
    </div>
</div>

