@model WebPKthucung.Models.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<h6 style="margin-bottom: 40px">Trang chủ  > Thay đổi mật khẩu </h6>
<div class="create_admin" style="margin-bottom: 300px">
    <h1 class="Title_Admin_create_form">Mật khẩu mới</h1>
    <p class="Notification_create_form">Vui lòng điền email để reset mật khẩu</p>
    @using (Html.BeginForm("ResetPassword", "Users", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form-6", @class = "create_admin_form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form_field">
            <label for="" class="name_form_field">Nhập mật khẩu mới: </label>
            <input type="password" class="textfile" id="password" name="NewPassword" style="width: 400px;">
            <span class="error_message"></span>
        </div>
        <div class="form_field">
            <label for="" class="name_form_field">Xác nhận mật khẩu mới: </label>
            <input type="password" class="textfile" id="password_confirmation" name="ConfirmPassword" style="width: 400px;">
            <span class="error_message">@ViewBag.message</span>
        </div>
        <h6 style="color: forestgreen">@ViewBag.TB</h6>
        <div class="form_field" style="display:none">
            @Html.HiddenFor(a => a.Resetcode)
        </div>

        <div class="button">
            <input type="submit" value="Đặt lại mật khẩu" class="button_add_admin" style="width: 150px" />
        </div>
    }
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
            form: '#form-6',
            formGroupSelector: '.form_field',
            errorSelector: '.error_message',
            rules: [
                Validator.isRequired('#password', 'Vui lòng nhập mật khẩu!'),
                Validator.isConfirmed('#password_confirmation', function () {
                    return document.querySelector('#form-6 #password').value;
                }, 'Mật khẩu nhập lại không chính xác'),
            ],
            onSubmit: function (data) {
                // Call API
                //console.log(data);
            }
        });
    });
</script>
