
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align: center; display: flex; justify-content: center; align-items:center; font-size:22px; color: red">Bạn không thể truy cập chức năng này!</h2>

