
<a href="@Url.Action("GioHang","GioHang")">
    <div class="name_icon catalog">
        <i class="fa-solid fa-cart-shopping"></i>
        <div class="dem_hang">
            <p>@ViewBag.Tongsoluong</p>
        </div>
    </div>
    <h5>Giỏ Hàng</h5>
</a>
   


