
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<div style="display:flex; justify-content:center; align-items:center; min-height: 600px">
    <h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận.Cảm ơn quý khách đã tin dùng sản phẩm của PaddyShop</h2>
</div>


